@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "abstracts/_variables.scss";
@import "abstracts/_mixins.scss";

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


body{
    font-family: 'Roboto', sans-serif;
    .support-company-area .support-wrapper .left-content {
        width: 40%;
        //padding-left: 366px;
    }


    .support-company-area .support-wrapper .right-content {
        width: 60%;
        position: relative;

    }
    .pt-10 {
        padding-top: 10px;
    }

    .fix {
        overflow: hidden;
    }
    .section-img-center {
        text-align: center;
        display: block;
        align-items: center;
    }
    .center-img {
        text-align: center;
        align-items: center;
    }
    .support-company-area .support-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .box-29291 {
        color: $white;
        position: relative;
        z-index: 2;
        margin-right: -60px;
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 4rem;
    }
    .h-100 {
        height: 100%!important;
    }
    .bg-purple {
        background-color: $purple800;
    }
    .heading-form{
        @include font($font-family-montse, 34px, 700);
    }

    input[type=text]{
        background-color: $purple700;
        border: none;
        border-radius: 0;
        resize: none;
        outline: none;
        color: $white;
        padding: 22px 16px;
    }
    input[type=number]{
        background-color: $purple700;
        border: none;
        border-radius: 0;
        resize: none;
        outline: none;
        color: $white;
        padding: 22px 16px;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        @include font($font-family-roboto, 18px, 400);
        color: $white $i;
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $white;
      }

      ::-ms-input-placeholder { /* Microsoft Edge */
        color: $white;
      }

    .submit{
        background-color: $orange700;
        color: $white;
        border: none;
        border-radius: 0;
        resize: none;
        outline: none;
    }


    .multipleitems-margin-vertical > *{
        margin: 8px 0 8px 0;
    }

    // Navbar start
    .nav-link{
        @include font($font-family-roboto, 16px, 500);
        color: black;
        margin: 0 17px 0 17px;
    }
    .initSession{
        @include font($font-family-roboto, 16px, 500);
        background-color: $orange700;
        color: $white;
    }
    // Navbar end
    // Main titles start
    .mainTitle{
        @include font($font-family-montse, 52px, 700);
        span{
            color: $orange700;
        }
    }

    .mainTitle2{
        @include font($font-family-montse, 40px, 700);
    }



    // Main titles end

    .qsText{
        @include font($font-family-roboto, 18px, 400);
        color: $grey400;
    }

    .line {
        width: 73px;
        height: 2px;
        background: $orange700;
        margin-bottom: 4px;
        margin-left: 4px;
        display: inline-block;
    }

    small {
        color: $orange700;
        @include font($font-family-roboto, 16px, 500);
    }

    .container {
        padding-left: 8%;
        padding-right: 8%;
    }
    .quienes-somos-text {
        padding-right: 39%;
    }
    .quienes-somos .card-quienes-somos {
        width: 20rem;
        border: none;
        height: 10%;
    }
    .quienes-somos-p {
        @include font($font-family-roboto, 20px, 700);
        margin-top: 10px;
    }
    .card-quienes-somos:hover {
        background-color: #262626;
    }

    // --> Algunos de nuestros clientes Start borde
    .nuestros-clientes-border1 {
        border-top: 1px solid #DBDBDB;
    }
    .nuestros-clientes-border1-margin{
        margin-top: 5%;
    }
    .nuestros-clientes-border2-margin{
        margin-bottom: 5%;
    }
    .nuestros-clientes-border2 {
        border-bottom: 1px solid #DBDBDB;
        padding-bottom: 5%;
    }

    // --> nuestros servicios
    .nuestros-servicios {
        background: #F3F3F3;
    }
    // menu Nuestros Servicios
    .nuestros-servicios-lista li {
        @include font($font-family-roboto, 20px, 500);
        list-style-type: none; /* Remove bullets */
        padding-top: 8%;
        padding-left: 5%;
        width: 293px;
        height: 72px;
        color: black;
    }
    .nuestros-servicios-text {
        @include font($font-family-roboto, 18px, 400);
        list-style-type: none;
        color: black;
        // padding: 10px;
        margin-bottom: 0%;
        margin-left: 37%;
    }
    .li-active {
        background-color: $orange700;
        color: $white;
    }
    .li-inactive {
        color: black;
    }
    .scroll {
        float: left;
        height: 200px;
        width: 4px;
        background-color: #DFDFDF;
        // border: 1px solid gray;
    }
    .scroll-pintar {
        height: 40px;
        background-color: $orange700;
        width: 4px;
    }
    .carousel {
        width: 1033px;
    }
    .card {
        width: 414px;
        height: 393px;
    }
    .card-body-proyectos {
        background-color: $purple700;
        color: white;
    }
    .scroll-carousel {
        width: 160px;
        height: 4px;
        background-color: #DFDFDF;
        float: left;
        margin-top: 1.2%;
        margin-left: 22%;
    }
    .scroll-line-top {
        margin-top: 2.5%;
    }
    .scroll-line {
        width: 40px;
        height: 4px;
        background-color: $orange700;
    }
    .control-carousel {
        float: left;
        margin-left: 23%;
    }
    .onclick-arrow {
        background-color: $orange700;
    }
    .onclick-arrow-reverse {
        background-color: #DFDFDF;
    }
    .arrow-right {
        border: solid gray;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 9px;

    }
    .arrow-left {
        border: solid gray;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 9px;

    }
    .arrow-position {
        position: relative;
        height: 67px;
    }
    .left-direction {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        position: absolute;
        top: 22px;
        right: 106px;
    }
    .line-left {
        width: 45px;
        // background-color: #262626;
        height: 4px;
        position: absolute;
        top: 31px;
        right: 82px;
    }

    .right-direction {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        position: absolute;
        top: 22px;
        left: 29px;
    }
    .line-right {
        width: 90px;
        // background-color: #262626;
        height: 4px;
        position: absolute;
        top: 31px;
        left: -40px;
    }
    .contactenos {
        background-image: url(../img/Group27.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: $purple800;
        color: $white;
    }
    .contactenos-wrapper {
        padding: 10% 5% 10% 0%;
    }
    .contactenos-line {
        background-color: $white;
    }
    .contactenos-wrapper > .mainTitle2, .btn-contactenos, .contactenos-small {
        margin: 8px 0 8px 0;
        color: $white;
    }
    .btn-contactenos {
        background-color: $orange700;
        color: white;
        width: 255px;
        border-radius: 0%;
    }
    .btn-contactenos:hover {
        background-color: #cd5b1a;
    }

    .footer {
        background-color: #262626;
    }
    .footer-wrapper-right {
        padding: 10% 5% 10% 20%;
        color: white;
    }
    .footer-wrapper-left {
        padding: 10% 5% 10% 5%;
        color: white;
    }
    .footer-socialmedia {
        margin-top: 48%;
    }
    .footer-socialmedia > * {
        margin-right: 30px;
    }

    .footer-wrapper-left p {
        @include font($font-family-roboto, 16px, 400);
    }
    #footer-contactenos {
        @include font($font-family-roboto, 20px, 500);
        color: gray;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .support-company-area .support-wrapper .left-content {
        padding-left: 200px;
        width: 49%;
    }
    .proyectos .mx-auto {
        margin-right: 0 !important;
        margin-left: auto !important;
    }
    .card {
        width: 26.1rem;
    }
    // #proyectos {
    //     margin-left: 15%;
    // }
    // .proyectos-carousel-row {
    //     width: 952px;
    // }
    // .proyectos-card {
    //     margin-left: 8%;
    // }
    .scroll-carousel {
        margin: 10% 0% 5% 22%;
    }
    .scroll-line-top {
        margin-top: 2.5%;
    }
    .control-carousel {
        position: absolute;
    }

    .arrow-right {
        border: solid gray;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 9px;

    }
    .arrow-left {
        border: solid gray;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 9px;

    }
    .arrow-position {
        position: relative;
        height: 67px;
    }
    .left-direction {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        position: absolute;
        top: 22px;
        right: 106px;
    }
    .line-left {
        width: 45px;
        background-color: #262626;
        height: 4px;
        position: absolute;
        top: 31px;
        right: 82px;
    }

    .right-direction {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        position: absolute;
        top: 22px;
        left: 29px;
    }
    .line-right {
        width: 90px;
        background-color: #262626;
        height: 4px;
        position: absolute;
        top: 31px;
        left: -40px;
    }
    .contactenos-wrapper {
        padding: 10% 5% 10% 0%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px){
    .support-company-area .support-wrapper .right-content {
        width: 49%;
    }
    .support-company-area .support-wrapper .left-content {
        width: 49%;
    }
}

// X-Large devices (large desktops, 1200px and up)
@include media-breakpoint-only(lg) {
    .card {
        width: 26.1rem;
    }
    // #proyectos {
    //     margin-left: 15%;
    // }
    // .proyectos-carousel-row {
    //     width: 952px;
    // }
    .nuestros-servicios-menu .nuestros-servicios-lista li {
        width: 253px;
    }
    .contactenos-wrapper {
        padding: 10% 5% 10% 0%;
    }
    .scroll-carousel {
        margin: 10% 0% 5% 20%;
    }

}

// Large devices (desktops, 992px and up)
@include media-breakpoint-only(md) {
    body {
        .container {
            padding-left: 0%;
            padding-right: 0%;
        }
        .pt-5 {
            padding-top: 0rem !important;
        }
        .center-img {
            text-align: center;
            align-items: center;
            display: flex;
        }
        .quienes-somos-text {
            padding-right: 0%;
        }
        .quienes-somos .card-quienes-somos {
            width: 100%;
            border: none;
            // height: 10%;
        }
        .control-carousel {
            position: absolute;
        }

        .arrow-right {
            border: solid gray;
            border-width: 0 4px 4px 0;
            display: inline-block;
            padding: 9px;

        }
        .arrow-left {
            border: solid gray;
            border-width: 0 4px 4px 0;
            display: inline-block;
            padding: 9px;

        }
        .arrow-position {
            position: relative;
            height: 67px;
        }
        .left-direction {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            position: absolute;
            top: 22px;
            right: 106px;
        }
        .line-left {
            width: 45px;
            // background-color: #262626;
            height: 4px;
            position: absolute;
            top: 31px;
            right: 82px;
        }

        .right-direction {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            position: absolute;
            top: 22px;
            left: 29px;
        }
        .line-right {
            width: 90px;
            // background-color: #262626;
            height: 4px;
            position: absolute;
            top: 31px;
            left: -40px;
        }
        .scroll-carousel {
            margin-top: 4.05%;
            margin-left: 3%;
        }
        .carousel {
            width: 100%;
        }
        .card {
            width: 336px;
            height: 328px;
        }
        .proyectos-carousel {
            // padding-left: 0%;
        }
        .contactenos-wrapper {
            padding: 0% 0% 0% 0%;
        }
        .footer-socialmedia > * {
            margin-right: 10px;
        }
    }
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-only(sm) {
    body {
        .pt-5 {
            padding-top: 0rem !important;
        }
        .py-5 {
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
        }
        .container, .container-fluid {
            padding-left: 0%;
            padding-right: 0%;
        }
        .mainTitle {
            font-size: 30px;
            width: 60%
        }
        .h-100 {
            height: 60% !important;
        }
        .box-29291 {
            margin-right: -71px;
            /* margin-top: 12px; */
            margin-bottom: 213px;
            padding: 3rem;
        }
        .center-img {
            text-align: center;
            align-items: center;
            display: flex;
        }
        .mainTitle2, .heading-form {
            font-size: 25px;
            width: 100%;
            padding: 0% 2% 0% 2%;
        }
        .right-img img {
            width: 275%;
        }
        .qsText {
            padding: 0% 2% 0% 2%;
            font-size: 16px;
        }
        .quienes-somos .card-quienes-somos {
            width: auto;
            // border: none;
            // height: 10%;
        }
        .quienes-somos-p {
            margin-top: 0px;
        }

        input[type=text] {
            padding: 5px 3px;
        }
        input[type=number] {
            padding: 5px 3px;
        }
        .nuestra-historia {
            margin-right: 0;
            margin-left: 0;
            max-width: none;
            padding-left: 8%;
            padding-right: 8%;
        }
        .somos-mejor-opcion {
            margin-right: 0;
            margin-left: 0;
            max-width: none;
            padding-left: 8%;
            padding-right: 8%;
        }
        .nuestros-servicios {
            padding-left: 8%;
            padding-right: 8%;
        }
        .servicios-adicionales {
            margin-right: 0;
            margin-left: 0;
            max-width: none;
            padding-left: 8%;
            padding-right: 8%;
        }
        .proyectos {
            padding: 0%;
        }
        #recipeCarousel {
            width: 100%;
        }
        .carousel-item {
            width: 80%;
        }

        .card-body {
            padding: 0%;
        }
        .proyectos-carousel-item2 {
            display:flex;
        }
        .nuestros-servicios .container {
            margin-right: 0;
            margin-left: 0;
            padding-left: 0%;
            padding-right: 0%;
        }
        .nuestros-servicios-menu {
            height: 320px;
        }
        .nuestros-servicios-lista li {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            list-style-type: none;
            padding: 2% 0% 2% 2%;
            width: 80%;
            height: 100%;
            color: black;
        }
        .nuestros-servicios-text {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0%;
            margin-left: 0%;
        }
        .ftco-animate {
            display: flex;
            justify-content: center;
            margin-bottom: 7%;
        }
        .scroll-carousel {
            margin: 1% 21% 0px 2%;
        }
        .scroll-line {
            margin: 0% 21% 0px 120px;
        }

        .control-carousel {
            float: left;
            margin: 1% 18% 0px -18%;
        }

        .contactenos-wrapper {
            padding: 0;
        }
        .contactenos-wrapper > * {
            margin: 6% 0% 6% 0%;
        }
        .btn-contactenos{
            width: 60%;
            margin-left: 5px;
        }
        .footer-wrapper-right {
            padding: 5% 5% 5% 2%;
            color: white;
        }
        .footer-socialmedia {
            margin-top: 8%;
        }
        .footer-socialmedia > * {
            margin-right: 5px;
        }

        .footer-wrapper-left p {
            @include font($font-family-roboto, 14px, 300);
        }
        #footer-contactenos {
            @include font($font-family-roboto, 16px, 500);
            color: gray;
        }
        .control-carousel {
            position: absolute;
        }

        .arrow-right {
            border: solid gray;
            border-width: 0 4px 4px 0;
            display: inline-block;
            padding: 9px;

        }
        .arrow-left {
            border: solid gray;
            border-width: 0 4px 4px 0;
            display: inline-block;
            padding: 9px;

        }
        .arrow-position {
            position: relative;
            height: 67px;
        }
        .left-direction {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            position: absolute;
            top: 22px;
            right: 106px;
        }
        .line-left {
            width: 45px;
            // background-color: #262626;
            height: 4px;
            position: absolute;
            top: 31px;
            right: 82px;
        }

        .right-direction {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            position: absolute;
            top: 22px;
            left: 29px;
        }
        .line-right {
            width: 90px;
            // background-color: #262626;
            height: 4px;
            position: absolute;
            top: 31px;
            left: -40px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@include media-breakpoint-only(xs) {
    body {
        .pt-5 {
            padding-top: 0rem !important;
        }
        .py-5 {
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
        }
        .container, .container-fluid {
            padding-left: 0%;
            padding-right: 0%;
        }
        .mainTitle {
            font-size: 30px;
            width: 60%
        }
        .h-100 {
            height: 60% !important;
        }
        .box-29291 {
            margin-right: -68px;
            margin-top: 20px;
            margin-bottom: 40px;
            padding: 1rem;
        }
        .mainTitle2, .heading-form {
            font-size: 25px;
            width: 100%;
            padding: 0% 2% 0% 2%;
        }
        .right-img img {
            width: 228%;
        }
        .qsText {
            padding: 0% 2% 0% 2%;
            font-size: 16px;
        }
        .quienes-somos .card-quienes-somos {
            width: auto;
        }
        .quienes-somos-p {
            margin-top: 0px;
        }

        input[type=text] {
            padding: 5px 3px;
        }
        input[type=number] {
            padding: 5px 3px;
        }
        .mx-auto {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
        #recipeCarousel {
            width: 100%;
        }
        .carousel-item {
            width: 80%;
        }
        .card {
            width: 581px;
            height: 497px;
        }
        .card-body {
            padding: 0%;
        }
        .nuestros-servicios-menu {
            height: 320px;
        }
        .nuestros-servicios-lista li {
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            list-style-type: none;
            padding: 2% 0% 2% 2%;
            width: 80%;
            height: 100%;
            color: black;
        }
        .nuestros-servicios-text {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0%;
            margin-left: 0%;
        }
        .img-fluid {
            max-width: 100%;
            height: auto;
            padding: 1% 0 1% 0;
        }
        .scroll-carousel {
            margin: 1% 21% 0px 2%;
        }
        .scroll-line {
            margin: 0% 21% 0px 120px;
        }

        .control-carousel {
            float: left;
            margin: 1% 21% 0px 21%;
        }
        .proyectos-carousel-item2 { // hide carousel item when small
            display:none;
        }

        .contactenos-wrapper {
            padding: 0;
        }
        .contactenos-wrapper > * {
            margin: 10% 0% 10% 0%;
        }
        .btn-contactenos{
            width: 60%;
            margin-left: 5px;
        }
        .section-img-center {
            text-align: center;
            display: flex;
            align-items: center;
        }
        .center-img {
            text-align: center;
            display: block;
            align-items: center;
        }

        .footer-wrapper-right {
            padding: 5% 5% 5% 2%;
            color: white;
        }
        .footer-socialmedia {
            margin-top: 8%;
        }
        .footer-socialmedia > * {
            margin-right: 5px;
        }

        .footer-wrapper-left p {
            @include font($font-family-roboto, 14px, 300);
        }
        #footer-contactenos {
            @include font($font-family-roboto, 16px, 500);
            color: gray;
        }
        .control-carousel {
            position: absolute;
        }

        .arrow-right {
            border: solid gray;
            border-width: 0 4px 4px 0;
            display: inline-block;
            padding: 9px;

        }
        .arrow-left {
            border: solid gray;
            border-width: 0 4px 4px 0;
            display: inline-block;
            padding: 9px;

        }
        .arrow-position {
            position: relative;
            height: 67px;
        }
        .left-direction {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            position: absolute;
            top: 22px;
            right: 106px;
        }
        .line-left {
            width: 45px;
            // background-color: #262626;
            height: 4px;
            position: absolute;
            top: 31px;
            right: 82px;
        }

        .right-direction {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            position: absolute;
            top: 22px;
            left: 29px;
        }
        .line-right {
            width: 90px;
            // background-color: #262626;
            height: 4px;
            position: absolute;
            top: 31px;
            left: -40px;
        }
    }
}

@media (max-width: 525px) {
    body{
        .right-content .right-img img {
            width: 300%;
        }
    }

    .mx-auto {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .proyectos .card {
        width: 538px;
        height: 447px;
    }

}

@media (max-width: 406px) {
    body{
        .right-content .right-img img {
            width: 300%;
        }
    }
    .mx-auto {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .proyectos .card {
        width: 450px;
        height: 392px;
    }
}








