//Color variables
$black:#262626;
$white: #FFFFFF;
$grey400: #5F5F5F;
$grey200: #DBDBDB;
$grey100: #F3F3F3;
$orange400: #FA9861;
$orange700: #F86C1D;
$orange800: #CE5E1F;
$purple400: #8F51F2;
$purple700: #4E13AD;
$purple800: #310081;
// Important variable
$i: unquote("!important");
//Font variables
$font-family-montse: 'Montserrat', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;

